<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="professora.css">

    <title>Ditado - Professora</title>
</head>
<body>
    <div class="container">
        <h1>Ditado da profa. Fernanda Deitos!</h1>
        <form method="post" action="/salvarDitado">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPalavra1" >1.</label>
                    <input type="text" required="true" class="form-control" name = "Palavra1" id="inputPalavra1" placeholder="Palavra 1">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPalavra2">2.</label>
                    <input type="text" required="true" class="form-control" name = "Palavra2" id="inputPalavra2" placeholder="Palavra 2">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPalavra3">3.</label>
                    <input type="text" required="true" class="form-control" name = "Palavra3" id="inputPalavra3" placeholder="Palavra 3">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPalavra4">4.</label>
                    <input type="text" required="true" class="form-control" name = "Palavra4" id="inputPalavra4" placeholder="Palavra 4">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPalavra5">5.</label>
                    <input type="text" required="true" class="form-control" name = "Palavra5" id="inputPalavra5" placeholder="Palavra 5">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPalavra6">6. </label>
                    <input type="text" required="true" class="form-control" name = "Palavra6" id="inputPalavra6" placeholder="Palavra 6">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPalavra7">7. </label>
                    <input type="text" required="true" class="form-control" name = "Palavra7" id="inputPalavra7" placeholder="Palavra 7">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPalavra8">8.</label>
                    <input type="text" required="true" class="form-control" name = "Palavra8" id="inputPalavra8" placeholder="Palavra 8">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPalavra9">9. </label>
                    <input type="text" required="true" class="form-control" name = "Palavra9" id="inputPalavra9" placeholder="Palavra 9">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPalavra10">10. </label>
                    <input type="text" required="true" class="form-control" name = "Palavra10" id="inputPalavra10" placeholder="Palavra 10">
                </div>
            </div>
            <div class ="form-row">
                <div class ="form-group col-md-12 botaoSalvar text-center">
                    <input  type="submit"  class="btn btn-primary btn-lg" value="Salvar Ditado">
                </div>
            </div>
        </form>
    </div>
</body>
</html>