.bg-company-pink {
    background-color: hotpink;
}

.container {
    padding-top: 70px;
}

#mostraDitados{
    padding-top: 20px ;
}

.btn {
    background-color: hotpink;
    border-color: hotpink;
    cursor:pointer;
}

.btn:hover{
    background-color: deeppink;
    border-color: deeppink;
}

.btn-primary:not([disabled]):not(.disabled):active {
    background-color: deeppink;
    border-color: deeppink;
}